<mat-form-field>
  <mat-select placeholder="Faction" [(value)]="selectedFaction" (selectionChange)="calculateRaces()">
    <mat-option *ngFor="let faction of factions" [value]="faction">
      {{faction}}
    </mat-option>
  </mat-select>
</mat-form-field>
<button mat-stroked-button (click)="rollFaction()">Roll</button>
<mat-form-field>
  <mat-select placeholder="Class" [(value)]="selectedClass" (selectionChange)="calculateRaces()">
    <mat-option *ngFor="let class of classes" [value]="class">
      {{class}}
    </mat-option>
  </mat-select>
</mat-form-field>
<button mat-stroked-button (click)="rollClass()">Roll</button>
<mat-form-field>
  <mat-select placeholder="Race" [(value)]="selectedRace">
    <mat-option *ngFor="let race of races" [value]="race">
      {{race}}
    </mat-option>
  </mat-select>
</mat-form-field>
<button mat-stroked-button (click)="rollRace()">Roll</button>
<mat-form-field>
  <mat-select placeholder="Path" [(value)]="selectedPath">
    <mat-option *ngFor="let path of paths" [value]="path">
      {{path}}
    </mat-option>
  </mat-select>
</mat-form-field>
<button mat-stroked-button (click)="rollPath()">Roll</button>
